pkgbase = mosh-git
	pkgdesc = Mobile shell, surviving disconnects with local echo and line editing, development version
	pkgver = 1.4.0.r19.g1105d48
	pkgrel = 2
	epoch = 1
	url = https://mosh.org
	arch = i686
	arch = x86_64
	arch = arm
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = git
	depends = abseil-cpp
	depends = gcc-libs
	depends = glibc
	depends = libutempter
	depends = ncurses
	depends = openssh
	depends = openssl
	depends = perl
	depends = protobuf
	depends = zlib
	provides = mosh
	conflicts = mosh
	source = git+https://github.com/mobile-shell/mosh.git
	b2sums = SKIP

pkgname = mosh-git
